@import '../stylesheets/Color.css';

.home h1 {
    color: var(--colorPrimary);
}

.home h2 {
    color: var(--colorSecondary);
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
}